html, body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	margin: 0;
	height: 0;
}

#twilio-softphone-container {
	border: 1px;
	height: 152px;
    margin: 0 auto;  
	text-align: center;
	width: 170px;
}

#dialer-container {
	/*border: 1px;
	height: 152px;
	margin: 0 auto;
	text-align: center;
	width: 170px;*/
}

	#dialer-container > input {
		background: transparent;
		border-color: transparent;
		font-size: 1em;	
		height: 25px;
		margin: 0 auto;
		text-align: right;
		width: 95%;
		/* make it so highlight is also transparent */
	}

	.numpad-container {
		/*margin: 0 auto;
		/*position: left;*/

		margin-left:15px;
		width: 170px;
		
	}

	.numpad-container > .number {
		border-style: solid;
		border-width: 1px;
		color: #3B3B3B;
		cursor: pointer;
		display: inline-block;
		font-weight: 600px;
		height: 25px;
		margin: 0px;
		padding: 0px;
		padding-top: 5px;
		text-align: center;
		width: 54px;

		/* Border */
		/*border-top-color: #989898;
		border-left-color: #6c6c6c;
		border-right-color: #565656;
		border-bottom-color: #161616;*/
		border-color: white;

		/* Gradient, don't try this at home, kids */
		background-image: linear-gradient(bottom, rgb(240,240,240) 20%, rgb(245,245,245) 72%);
		background-image: -o-linear-gradient(bottom, rgb(240,240,240) 20%, rgb(245,245,245) 72%);
		background-image: -moz-linear-gradient(bottom, rgb(240,240,240) 20%, rgb(245,245,245) 72%);
		background-image: -webkit-linear-gradient(bottom, rgb(240,240,240) 20%, rgb(245,245,245) 72%);
		background-image: -ms-linear-gradient(bottom, rgb(240,240,240) 20%, rgb(245,245,245) 72%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.2, rgb(240,240,240)),
			color-stop(0.72, rgb(245,245,245))
		);

		/* Drop shadow on text */
		text-shadow: 0px .5px 0px #ffffff;
        filter: dropshadow(color=#ffffff, offx=0, offy=.5);
	}

	div.number:hover, div.Button:hover {
		background-image: linear-gradient(bottom, rgb(196,196,196) 34%, rgb(204,204,204) 71%);
		background-image: -o-linear-gradient(bottom, rgb(196,196,196) 34%, rgb(204,204,204) 71%);
		background-image: -moz-linear-gradient(bottom, rgb(196,196,196) 34%, rgb(204,204,204) 71%);
		background-image: -webkit-linear-gradient(bottom, rgb(196,196,196) 34%, rgb(204,204,204) 71%);
		background-image: -ms-linear-gradient(bottom, rgb(196,196,196) 34%, rgb(204,204,204) 71%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.34, rgb(196,196,196)),
			color-stop(0.71, rgb(204,204,204))
		);
	}

	div.number:active, div.Button:active {
		background-image: linear-gradient(bottom, rgb(158,158,158) 34%, rgb(166,166,166) 71%);
		background-image: -o-linear-gradient(bottom, rgb(158,158,158) 34%, rgb(166,166,166) 71%);
		background-image: -moz-linear-gradient(bottom, rgb(158,158,158) 34%, rgb(166,166,166) 71%);
		background-image: -webkit-linear-gradient(bottom, rgb(158,158,158) 34%, rgb(166,166,166) 71%);
		background-image: -ms-linear-gradient(bottom, rgb(158,158,158) 34%, rgb(166,166,166) 71%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.34, rgb(158,158,158)),
			color-stop(0.71, rgb(166,166,166))
		);
	}

/*        button.call:hover, button.call:active, button.hangup:hover, button.hangup:active {
            background-color: red;
        }
*/
	#call-button {
		color: #3B3B3B;
		cursor: pointer;
		height: 26px;
		font-size: 1em;
		margin: 0 auto;
		margin-top: 1px;
		padding-top: 5px;
		width: 98%;

		/* Gradient */
		background-image: linear-gradient(bottom, rgb(139,204,106) 42%, rgb(143,194,114) 71%);
		background-image: -o-linear-gradient(bottom, rgb(139,204,106) 42%, rgb(143,194,114) 71%);
		background-image: -moz-linear-gradient(bottom, rgb(139,204,106) 42%, rgb(143,194,114) 71%);
		background-image: -webkit-linear-gradient(bottom, rgb(139,204,106) 42%, rgb(143,194,114) 71%);
		background-image: -ms-linear-gradient(bottom, rgb(139,204,106) 42%, rgb(143,194,114) 71%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.42, rgb(139,204,106)),
			color-stop(0.71, rgb(143,194,114))
		);

		/* Rounded corner */
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}

	div#call-button:hover {
		background-image: linear-gradient(bottom, rgb(175,217,157) 34%, rgb(176,217,165) 71%);
		background-image: -o-linear-gradient(bottom, rgb(175,217,157) 34%, rgb(176,217,165) 71%);
		background-image: -moz-linear-gradient(bottom, rgb(175,217,157) 34%, rgb(176,217,165) 71%);
		background-image: -webkit-linear-gradient(bottom, rgb(175,217,157) 34%, rgb(176,217,165) 71%);
		background-image: -ms-linear-gradient(bottom, rgb(175,217,157) 34%, rgb(176,217,165) 71%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.34, rgb(175,217,157)),
			color-stop(0.71, rgb(176,217,165))
		);
	}

	div#call-button:active {
		background-image: linear-gradient(bottom, rgb(127,161,112) 34%, rgb(122,166,109) 71%);
		background-image: -o-linear-gradient(bottom, rgb(127,161,112) 34%, rgb(122,166,109) 71%);
		background-image: -moz-linear-gradient(bottom, rgb(127,161,112) 34%, rgb(122,166,109) 71%);
		background-image: -webkit-linear-gradient(bottom, rgb(127,161,112) 34%, rgb(122,166,109) 71%);
		background-image: -ms-linear-gradient(bottom, rgb(127,161,112) 34%, rgb(122,166,109) 71%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.34, rgb(127,161,112)),
			color-stop(0.71, rgb(122,166,109))
		);
	}

	#accept-button {
		color: #3B3B3B;
		cursor: pointer;
		height: 26px;
		font-size: 1em;
		margin: 0 auto;
		margin-top: 1px;
		padding-top: 5px;
		width: 98%;

		/* Gradient */
		background-image: linear-gradient(bottom, rgb(139,204,106) 42%, rgb(143,194,114) 71%);
		background-image: -o-linear-gradient(bottom, rgb(139,204,106) 42%, rgb(143,194,114) 71%);
		background-image: -moz-linear-gradient(bottom, rgb(139,204,106) 42%, rgb(143,194,114) 71%);
		background-image: -webkit-linear-gradient(bottom, rgb(139,204,106) 42%, rgb(143,194,114) 71%);
		background-image: -ms-linear-gradient(bottom, rgb(139,204,106) 42%, rgb(143,194,114) 71%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.42, rgb(139,204,106)),
			color-stop(0.71, rgb(143,194,114))
		);

		/* Rounded corner */
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}

	div#accept-button:hover {
		background-image: linear-gradient(bottom, rgb(175,217,157) 34%, rgb(176,217,165) 71%);
		background-image: -o-linear-gradient(bottom, rgb(175,217,157) 34%, rgb(176,217,165) 71%);
		background-image: -moz-linear-gradient(bottom, rgb(175,217,157) 34%, rgb(176,217,165) 71%);
		background-image: -webkit-linear-gradient(bottom, rgb(175,217,157) 34%, rgb(176,217,165) 71%);
		background-image: -ms-linear-gradient(bottom, rgb(175,217,157) 34%, rgb(176,217,165) 71%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.34, rgb(175,217,157)),
			color-stop(0.71, rgb(176,217,165))
		);
	}

	div#accept-button:active {
		background-image: linear-gradient(bottom, rgb(127,161,112) 34%, rgb(122,166,109) 71%);
		background-image: -o-linear-gradient(bottom, rgb(127,161,112) 34%, rgb(122,166,109) 71%);
		background-image: -moz-linear-gradient(bottom, rgb(127,161,112) 34%, rgb(122,166,109) 71%);
		background-image: -webkit-linear-gradient(bottom, rgb(127,161,112) 34%, rgb(122,166,109) 71%);
		background-image: -ms-linear-gradient(bottom, rgb(127,161,112) 34%, rgb(122,166,109) 71%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.34, rgb(127,161,112)),
			color-stop(0.71, rgb(122,166,109))
		);
	}

	#hangup-button {
		color: #3B3B3B;
		cursor: pointer;
		height: 26px;
		font-size: 1em;
		margin: 0 auto;
		margin-top: 1px;
		padding-top: 5px;
		width: 98%;

		/* Gradient */
		background-image: linear-gradient(bottom, rgb(204,110,110) 42%, rgb(194,114,114) 71%);
		background-image: -o-linear-gradient(bottom, rgb(204,110,110) 42%, rgb(194,114,114) 71%);
		background-image: -moz-linear-gradient(bottom, rgb(204,110,110) 42%, rgb(194,114,114) 71%);
		background-image: -webkit-linear-gradient(bottom, rgb(204,110,110) 42%, rgb(194,114,114) 71%);
		background-image: -ms-linear-gradient(bottom, rgb(204,110,110) 42%, rgb(194,114,114) 71%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.42, rgb(204,110,110)),
			color-stop(0.71, rgb(194,114,114))
		);

		/* Rounded corner */
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}

	div#hangup-button:hover {
		background-image: linear-gradient(bottom, rgb(230,161,161) 34%, rgb(237,171,171) 71%);
		background-image: -o-linear-gradient(bottom, rgb(230,161,161) 34%, rgb(237,171,171) 71%);
		background-image: -moz-linear-gradient(bottom, rgb(230,161,161) 34%, rgb(237,171,171) 71%);
		background-image: -webkit-linear-gradient(bottom, rgb(230,161,161) 34%, rgb(237,171,171) 71%);
		background-image: -ms-linear-gradient(bottom, rgb(230,161,161) 34%, rgb(237,171,171) 71%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.34, rgb(230,161,161)),
			color-stop(0.71, rgb(237,171,171))
		);
	}

	div#hangup-button:active {
		background-image: linear-gradient(bottom, rgb(158,79,79) 34%, rgb(173,88,88) 71%);
		background-image: -o-linear-gradient(bottom, rgb(158,79,79) 34%, rgb(173,88,88) 71%);
		background-image: -moz-linear-gradient(bottom, rgb(158,79,79) 34%, rgb(173,88,88) 71%);
		background-image: -webkit-linear-gradient(bottom, rgb(158,79,79) 34%, rgb(173,88,88) 71%);
		background-image: -ms-linear-gradient(bottom, rgb(158,79,79) 34%, rgb(173,88,88) 71%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.34, rgb(158,79,79)),
			color-stop(0.71, rgb(173,88,88))
		);
	}




	.cb-enable, .cb-disable, .cb-enable span, .cb-disable span { background: url(switch.gif) repeat-x; display: block; float: left; }
	.cb-enable span, .cb-disable span { line-height: 30px; display: block; background-repeat: no-repeat; font-weight: bold; }
	.cb-enable span { background-position: left -90px; padding: 0 10px; }
	.cb-disable span { background-position: right -180px;padding: 0 10px; }
	.cb-disable.selected { background-position: 0 -30px; }
	.cb-disable.selected span { background-position: right -210px; color: #fff; }
	.cb-enable.selected { background-position: 0 -60px; }
	.cb-enable.selected span { background-position: left -150px; color: #fff; }
	.switch label { cursor: pointer; }
	.switch input { display: none; }